pyro-ppl
numpyro
pymc3
flair
gensim
spacy
stanza
gym
jupyter
jupyterlab
matplotlib
seaborn
numpy
scipy
pandas
modin[dask]
scikit-image
scikit-learn
torch
torchfile
torchsummary
torchtext
torchvision
transformers
kornia
captum
pip-review
